
body {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}
main{
    background-image: url('../image/city.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display:grid;
    grid-template-columns: 60% 38%;
    grid-template-rows: auto;
    gap:1%;
    grid-template-areas:
        'leftSide rightSide'
    ;
    padding:10px 0px;
}
.container {
    width: 100%;
    height: fit-content;
    border: 1px;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(254, 254, 254, 0.363);
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
}

.leftSide{
    grid-area: leftSide;
    display:flex;
    flex-direction: column;
}
#detailed-description{
    padding-left:15%;
}
.rightSide{
    grid-area: rightSide;
    display:flex;
    flex-direction: column;
}
.container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    align-self: center;
    border: 1px solid white;
    border-radius: 10px;
}


#rent button:hover{
    transition: 0.2s;
    color:white;
    transform: scale(0.95);
}

.icon{
    width: 2em;
    height: 4em;
    background-size:contain;
    background-repeat: no-repeat;
}


#gia, #dienTich, #viTri{
    margin-top:1em;
    display: flex;
}
/* .coin{
    background-image: url('../image/coin.png');
}
.area{
    background-image: url('../image/area.png');
}
.location{
    background-image: url('../image/.png');
} */
 #location-img, #price-img, #area-img{
    border: none;
    width: 2em;
    margin: 0em 1em 1em 1em;
    background-size: contain;
 }

 #trangThai, #tienCoc, #dienTich, #coGac{
    margin: 0px;
 }
 #statusBox{
    margin-top:1em;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:7em;
 }

 #leftBox, #rightBox{
    display: flex;
    flex-direction: column;
    padding:0px;
    gap:2em;
 }
/* Contact Btn */

#contactBtn{
    width: fit-content;
    align-self: center;
    border:1px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding:10px;
    background-color: rgb(210, 56, 56);
    text-transform: uppercase;
    font-size:15px;
    font-weight: bold;
    color:white;
}

 /* Contact Box */
 #contactBox{
    display: none;
    width: 50em;
    height: 20em;
    background-color: rgba(255, 0, 0, 0.516);
    position: absolute;
    right:30%;
    bottom:30%;
 }


#contactBtn:hover #contactBox{
    display:block;
    width: 50em;
    height: 20em;
    background-color: rgba(255, 254, 254, 0.363);
    position: absolute;
    right:30%;
    bottom:100%;
}

