/* Container tổng thể của thanh tìm kiếm */
.search-bar {
    width: fit-content;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
}

/* Ô nhập liệu */
#searchInput {
    border: none;
    outline: none;
    padding: 0.5em 0.6em;
    font-size: 0.9em;
    background-color: transparent;
    transition: 0.6s;
    border-radius: 1em;
}

#searchInput::placeholder {
    color: #90bfdc;
    font-style: italic;
}

/* Hiệu ứng khi ô input được focus */
#searchInput:focus {
    border-bottom: 2px solid #4CAF50;
    background-color: #4f4a4a28;
    border:1px dashed black;
    border-radius: 2em;
}

/* Nút tìm kiếm */
button {
    background-color: transparent;
    border: none;
    color: #4672f7;
    font-size: 1em;
    cursor: pointer;
    padding: 8px;
}

button:hover {
    color: #388E3C;
}

button:focus {
    outline: none;
}
