/* Dùng chung */
*{
    font-size:18px;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
        'header'
        'nav'
        'main'
        'footer'
    ;
}
header{
    grid-area: header;
    display:flex;
    background-image: url('https://img.freepik.com/premium-photo/red-house-white-houses-real-estate-property-industry_184421-2641.jpg?w=1060');
    background-size: cover;
    background-position-y: -80px ;
    background-repeat: no-repeat;

}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
    background-color: rgba(172, 172, 172, 0.549);
    background-repeat: no-repeat;
    background-size: cover;
}
 footer{
    grid-area: footer;
    background-color: rgba(139, 139, 139, 0.562);
}

/* Header */
header{
    justify-content: space-between;
    height: 12em;
}
header h1{
    font-size:3em;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(12, 12, 12);
    display:flex;
    align-self: center;
}
header >div{
    position: relative;
    right:10px;
    bottom: -10px;
}
header div a{
    color:rgb(0, 0, 0);
    margin:0.2em;
    font-size:0.8em;
    background-color: rgb(245, 245, 245);
    padding:0.5em;
    border:1px solid white;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo{
    height: 3em;
    width: 5em;
    margin-left:1em;
    background-image: url('../../../../image/for-rent.png');
    background-size: contain;
    background-repeat: no-repeat; 
}
/* nav */
.nav-link{
    color:white;
}
nav{
    background-color: rgba(79, 81, 83, 0.514);
    color:white
}
/* main */
.trangchu{
    padding-top:1em;
    display:grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    grid-template-areas:
        'content filter'
        'pagination pagination'
    ;
}

.content{
    grid-area: content;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    opacity: 1;
}
.filter{
    grid-area: filter;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.box{
    margin-top: 10px;
    display:flex;
    padding:10px;
    height: 15em;
    background-color: rgba(244, 244, 244, 0.5);
    border:1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.box:nth-child(1){
    margin-top:0em;
}
h4{
    margin-top:1em;
    font-size:2em;
}
img{
    width: 15em;
    height: 12em;
    border:1px solid white;
    border-radius: 18px;
    margin:18px;
}
.box:hover{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
#position{
    color:rgba(102, 101, 100, 0.316)
}
.filter-box{
    width: fit-content;
    height: fit-content;
    margin:0.1em;
    padding:0.5em;
}
.container{
    width: fit-content;
    background-color: rgba(250, 234, 234, 0.356);
    border:2px solid rgb(2, 25, 17);
    border-radius: 0.2em;
    padding:0.5em;
    position: sticky;
    top:1em;
    margin-bottom: 0.2em;
}
.filter-btn{
    color:white;
    background-color: rgb(3, 64, 16);
    border-radius: 0.2em;
    margin:1em;
}
.filter-btn:hover{
    transition: 0.5s;
    scale:1.1;
}

h4 {
    font-size: 1.5em;
    color: #333;
    /* margin-bottom: 10px; */
}

p{
    font-size: 16px;
    color: #555;
    /* margin-bottom: 5px; */
}

#information {
    font-weight: bold;
    color: red;
}

#position {
    color: #6c757d;
}  

#pagination{
    display: flex;
    justify-content: center;
    margin:20px;
}
#pagination button{
    background-color: white;
    margin:5px;
    border-radius: 15%;
}
#pagination button:hover{
    background-color: pink;
}
/* footer */
footer{
    display:flex;
    justify-content: space-around;
}
.footerBox{
    margin:1em;
    width: 15em;
    height: fit-content;
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    line-height: 30px;
    align-items: start;
}
.footerBox h3{
    font-size: 2em;
}
.footerBox a{
    font-size:0.8em;
    color:rgb(102, 99, 99);
    text-decoration: none;
    text-transform: uppercase;
}
.footerBox a:hover{
    color:rgb(64, 45, 231);
}

.footerBox a img{
    width: 20px;
    height: 20px;
    padding:0px;
    margin:5px;
}



@media (max-width:1200px){
    *{
        font-size:10px;
    }
    .box:nth-child(1){
        margin-top: 10px;
    }
    .box{
        flex-direction: column;
        width: 20em;
        height: 30em;
        padding: 5px 5px 5px 5px;
        margin:10px;
    }
    .rentBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
 /*End dùng chung */

 /* Nguyên */


 /* End Nguyên */

